
.advantages {
   &__svg-wrapper {
      width: rem(80);
      height: rem(80);
      background-color: $color1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }
   
   &__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: rem(10);
   }
   
   &__icon:not(:last-child) {
      border-right: 1px solid $color1;
   }
   
   &__icons-wrapper {
      margin-top: rem(50);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }

   &__text {
      margin-top: rem(20);
      font-family: $fontFamilyMain;
      font-size: rem(16);
      font-weight: 400;
      line-height: lh(19.5, 16);
      flex: 1 1 auto;
      text-align: center;
   }
}
._icon-all {
   position: relative;
   fill: $color5;
   display: block;
   width: rem(40);
   height: rem(40);
}

@media (max-width: $md1) {
   .advantages {
      &__text {
         font-size: respon(16, $procText);
      }
      &__svg-wrapper {
         width: respon(80, $procTit);
         height: respon(80, $procTit);
      }
   }
._icon-all {
   width: respon(40, $procTit);
   height: respon(40, $procTit);
}
}

@media (max-width: $md3) {
   .advantages {
      &__icons-wrapper {
         grid-template-columns: repeat(2, 1fr);
         & .border-1{
            border-bottom: 1px solid $color1;
         }
         & .border-2{
            border-right: none;
            border-bottom: 1px solid $color1;
         }
      }
   }
}