.aside {

   &__wrapper {
      max-width: rem(300);
      padding: rem(10);
      background-color: $color1;
      display: flex;
      flex-direction: column;
      color: $color5;
      text-transform: uppercase;
      &>*:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__spoller-wrap {
   }

   &__spoller-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__span {
      display: none;
      margin-left: rem(10);
      position: relative;
      &::before,
      &::after {
         content: "";
         position: absolute;
         width: rem(8);
         height: rem(1);
         background-color: $color5;
         transition: all .2s linear;
      }
      &::before {
         top: 50%;
         left: 50%;
         transform: translate(-18%, -50%) rotate(-45deg);
         

      }
      &::after {
         top: 50%;
         right: -50%;
         transform: translate(18%, -50%) rotate(45deg);
      }
   }

   &__title._spoller-active {
      & .aside__span {
         &::before {
            transform: translate(-18%, -50%) rotate(45deg);
            
   
         }
         &::after {
            transform: translate(18%, -50%) rotate(-45deg);
         }
      }
   }

   &__all {
      position: relative;
      padding: 0 rem(15) rem(15);
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         border-bottom: 2px solid $color5;
      }
   }

   &__category>*:not(:last-child) {
      margin-bottom: rem(20);
   }

   &__category {
      position: relative;
      padding: 0 rem(15) rem(15);
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         border-bottom: 2px solid $color5;
      }
   }

   &__wrapper-price {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 rem(15) rem(15);
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         border-bottom: 2px solid $color5;
      }

   }

   &__title {
      text-align: center;
   }

   &__checkbox-text {
   }

   &__lable {
   }

   &__checkbox {
   }

   &__checkbox-style {
      transform: translate(0, -50%);
      width: rem(16);
      height: rem(16);
      &::before {
         width: rem(8);
         height: rem(8);
      }
   }

   &__input-text {
      max-width: rem(115);
      border: 2px solid $color5;
      border-radius: rem(4);
      background-color: $color1;
      padding: rem(10);
      font-size: rem(16);
      color: $color5;
      &::placeholder {
         font-size: rem(16);
         text-transform: uppercase;
         color: #A4A4A480;
      }
      &:focus {
         outline: 0;
         outline-offset: 0;
         border: 2px solid $color3;
         &::placeholder {
            color: $color1;
         }
      }
   }

   &__wrapper-button {
      display: flex;
      flex-direction: column;
      padding: 0 rem(15) rem(15);
   }

   &__button-one {
      cursor: pointer;
      font-family: $fontFamily-1;
      font-size:rem(16);
      font-weight: 400;
      line-height: lh(19, 16);
      border: 2px solid $color3;
      text-transform: uppercase;
      background-color: $color3;
      color: $color5;
      width: 100%;
      padding: rem(10) 0;
      &:hover {
         border: 2px solid #fa9600;
      }
   }

   &__button-two {
      cursor: pointer;
      font-family: $fontFamily-1;
      font-size:rem(16);
      font-weight: 400;
      line-height: lh(19, 16);
      text-transform: uppercase;
      background-color: $color1;
      border: 2px solid $color5;
      color: $color5;
      margin-top: rem(20);
      width: 100%;
      padding: rem(10) 0;
      &:hover {
         border: 2px solid #fa9600;
      }
   }
}

