.footer {
   background-color: $color2;

   &__nav {
      display: flex;
      justify-content: space-between;
      padding: 30px 15px;
   }

   &__wrapper {
      margin-bottom: 10px;
      padding-right: 30px;
   }

   &__logo-wrapper {
      padding-bottom: 25px;
      border-bottom: 1px solid #000;
   }

   &__logo {
   }

   &__sub-logo {
   }

   &__reserved {
      padding-top: 25px;
      text-align: center;
      text-transform: uppercase;
   }

   &__menu-selection {
      max-width: 754px;
      width: 100%;
   }

   &__location {
   }

   &__menu {
      display: flex;
      justify-content: space-between;
   }

   &__menu-item {
   }

   &__title-sub-menu {
      display: none;
   }

   &__sub-menu {


   }

   &__sub-menu>li {
      margin-bottom: 15px;
   }

   &__item {
   }

   &__link {
      display: flex;
      align-items: center;
   }

   &__title-sub-menu {
      text-transform: uppercase;
   }
}

@media (max-width: $md1) {
   .footer {
      &__logo {
         font-size: calc((35px * $procTit) + (35 - (35 * $procTit)) * ((100vw - 320px) / (1230 - 320)));
      }
      &__sub-logo {
         font-size: calc((18px * $procTit) + (18 - (18 * $procTit)) * ((100vw - 320px) / (1230 - 320)));
      }
      &__reserved {
         font-size: calc((16px * $procTit) + (16 - (16 * $procTit)) * ((100vw - 320px) / (1230 - 320)));
      }
   }
}



@media (max-width: $md2) {
   .footer {
      &__menu {
         flex-direction: column;
      }

      &__nav {
         flex-direction: column;
      }

      &__wrapper {
         padding-right: 0;
      }
   }
}

