.header {
   background-color: $color2;
   width: 100%;
   // position: fixed;
   // z-index: 2;

   &__container {
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px;
   }

   &__logo-wrapper {
      padding-right: 30px;
   }

   &__logo {

   }

   &__sub-logo {

   }

   &__location {
      display: flex;
      align-items: center;
   }

   &__menu-burger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 885px;
      width: 100%;
   }

   // &__menu-burger>* {
   //    &:not(:last-child) {
   //       margin-right: 87.75px;
   //    }
   // }

   &__menu {
      display: flex;
      justify-content: space-between;
   }

   &__link {
   }

   &__item {
         &:not(:last-child) {
         margin-right: 15px;
      }
   }

   &__basket {
      display: flex;
      align-items: center;
   }

   &__call {
      display: flex;
      align-items: center;
   }
}

@media (max-width: $md1) {
   .header {
      &__logo {
         font-size: calc((35px * $procTit) + (35 - (35 * $procTit)) * ((100vw - 320px) / (1230 - 320)));
      }
      &__sub-logo {
         font-size: calc((18px * $procTit) + (18 - (18 * $procTit)) * ((100vw - 320px) / (1230 - 320)));
      }
   }
}

@media (max-width: $md2) {
   .header {
      &__logo-wrapper {
         padding-right: 0;
      }
   }
}
