
@use 'sass:math';
@import "variables.scss";

//Обнуление
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
   font-family: inherit;
   font-weight: inherit
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;

}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: $fontSizeMain;
   color: $color4;
   font-family: $fontFamilyMain;
   font-weight: 300;
}

body {
   display: flex;
   flex-direction: column;
   background-color: $color5;
}
//Блоки
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   
}
main {
   flex: 1 1 auto;
   min-width: 0;
}
._container {
   position: relative;
   max-width: $maxWidthContainer;
   margin: 0 auto;
   padding: 0 15px;
}
._ibg{
   position: relative;
}
._ibg img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

._hidden {
   display: none;
}

//ТО %
@function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}
//REM
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}
//EM
@function em($pxOne, $pxFontpx) {
   $result: math.div($pxOne, $pxFontpx) + em;
   @return $result;
}
//LINE HEIGHT
@function lh($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo);
   @return $result;
}
//Отзывчивое св-во
@function respon($x1, $x2) {
   $x1px: $x1 * 1px;
   $result: calc(($x1px * $x2) + ($x1 - ($x1 * $x2)) * ((100vw - 320px) / (1230 - 320)));
   @return $result;
}

@function responDif($x1, $x2) {
   $x2px: $x2 * 1px;
   $result: calc($x2px + ($x1 - $x2) * ((100vw - 320px) / (1230 - 320)));
   @return $result;
}

@import "main.scss";
@import "header.scss";
@import "burger.scss";
@import "footer.scss";
@import "spoller.scss";
@import "header-catalog.scss";
@import "main1.scss";
@import "catalog.scss";
@import "sale.scss";
@import "advantages.scss";
@import "form.scss";
@import "our-us.scss";
@import "contacts.scss";
@import "our-work.scss";
@import "aside.scss";
@import "catalog-page.scss";
@import "product-page.scss";
@import "slick.scss";
